// Place all the styles related to the Index controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import "bootstrap-sprockets";
@import "bootstrap";

.sessions-form {
  width:300px;
  margin:auto;
}
.feed-img{
  max-width:300px;
  display:block;
  margin:auto;
  padding-top:30px;
  padding-bottom:30px;

}
.feed-img-div{
  width:500px;
  background:red;
  margin:auto;
  margin-top:30px;
}
